body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
button{
    margin: 5px;
    background-color:rgb(1, 160, 160);
    color:white;
}
form{
    float:right;
    font-weight: bold;
}
p{
    background-color:rgb(1, 160, 160);
    color:white;
    width: 88px;
    margin-top: 5px;
    margin-bottom: 5px;

}
#gifs-return{
    margin-top: 20px;
}